<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite1">
<test name="Test1">
<classes>
<!-- <class name="example.calculatorTestTestNg"> -->
<!-- </class> -->

<!-- <class name="example.NewTest1"> -->
<!-- </class> -->

<class name="example.DependsOnMethod">

</class>
</classes>
</test>

<!-- <test name="Test2"> -->
<!-- <classes> -->
<!-- <class name="NewTest1"> -->
<!-- </class> -->
<!-- </classes> -->
<!-- </test> -->
</suite>